@keyframes animatedBackground {
    0% {background-position: 0 0;}
    100% {background-position: 1263px 0;}
}

@keyframes carrunning {
    0%{left:0;}
    100%{left:1068px;}
}

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes wheel1_move {
    0%{left:145px;}
    100%{left:1213px;}
}

@keyframes wheel2_move {
    0%{left:24px;}
    100%{left:1092px;}
}

@keyframes spoiler_move {
    0%{top:-181px; left:0px;}
    9%{top:-203px; left:0px;}
    50%{top:-203px; left:434px;}
    99%{top:-203px; left:950px;}
    100%{top:-203px; left:1066px;}

}

.main{
    box-sizing: border-box;
    margin: 20px auto;
    width: 1263px;
    height: 342px;
    position: relative;
}

.wrapper {
    /*position: absolute;*/
    /*top: 20px;*/
    border: 1px solid yellow;
    box-sizing: border-box;
    margin: 20px auto;
    width: 1263px;
    height: 342px;
    background: url(../img/city.png) repeat-x 0 0;
    background-size: cover;
    animation: animatedBackground 3s linear 3 reverse;
    -webkit-animation: animatedBackground 3s linear 3 reverse;
    position: relative;
    z-index:-2;
    animation-delay: 4s;
}

.car {
    position: relative;
    top: -77px;
    left: 0px;
    box-sizing: border-box;
    width: 194px;
    height: 49px;
    background: url(../img/camaro_ss.png) repeat-x 0 0;
    background-size: contain;
    z-index: 5;
    animation: carrunning 9s linear 1;
    -webkit-animation: carrunning 9s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.wheel1 {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    background: url(../img/nice_wheel.png) no-repeat 0 0;
    background-size: contain;
    z-index: 4;
    -webkit-animation: infinite-spinning 0.5s linear 18;
    animation: infinite-spinning 0.5s linear 18;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.wheel2 {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    background: url(../img/nice_wheel.png) no-repeat 0 0;
    background-size: contain;
    z-index: 4;
    -webkit-animation: infinite-spinning 0.5s linear 18;
    animation: infinite-spinning 0.5s linear 18;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.move1{
    position: relative;
    top: -105px;
    left: 145px;
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    -webkit-animation: wheel1_move 9s linear 1;
    animation: wheel1_move 9s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.move2{
    position: relative;
    top: -136px;
    left: 24px;
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    -webkit-animation: wheel2_move 9s linear 1;
    animation: wheel2_move 9s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.smoke{

}

.spoiler {
    position: relative;
    top: -181px;
    left: 0px;
    box-sizing: border-box;
    width: 34px;
    height: 28px;
    background: url(../img/spoiler.png) no-repeat 0 0;
    background-size: contain;
    -webkit-animation: spoiler_move 9s linear 1;
    animation: spoiler_move 9s linear 1;
    animation-fill-mode: forwards;
    animation-delay: 3.2s;
}

