@keyframes animatedBackground {
    0% {background-position: 0 0;}
    100% {background-position: 1263px 0;}
}

/*@-webkit-keyframes animatedBackground {*/
    /*from {*/
        /*background-position: 0px 0px; }*/

    /*to {*/
        /*background-position: 100% 0px; }*/
/*}*/


.wrapper {
    /*position: absolute;*/
    /*top: 20px;*/
    border: 1px solid yellow;
    box-sizing: border-box;
    margin: 20px auto;
    width: 1263px;
    height: 342px;
    background: url(../img/city.png) repeat-x 0 0;
    background-size: cover;
    animation: animatedBackground 5s linear 4;
    -webkit-animation: animatedBackground 3s linear 3 reverse;
}

.car {
    position: relative;
    top: 284px;
    left: 0px;
    box-sizing: border-box;
    width: 196px;
    height: 49px;
    background: url(../img/camaro_ss.png) repeat-x 0 0;
    background-size: cover;
}
